.board {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(39, 70, 82);

}

h1 { 
  text-align:center; 
  background-color: rgb(39, 70, 82);
  margin: 0;
  color:beige;
}

.next-move { 
  text-align:center;
  background-color: beige;

}

.navbar { 
  text-align:center; 
  background-color: rgb(87, 86, 85);

}